* {
    box-sizing: border-box;
}

body{
    background-color: #15202b;
}

.App {
    text-align: center;
    background-color: #15202b;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
}

.App-Body {
    flex: 70%;
    margin: 10px;
    margin-left: 10%;
    margin-right: 30%;
}

.Tweet-List {
    border: 2px solid #323e47;
}

.App-link {
    color: #1ea1f2;
}

.tweet-box {
    border-bottom: 8px solid #323e47;
}

.tweet-cell {
    border-top: 2px #323e47 solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    transition: 0.3s;
    text-align: left;
}

.tweet-cell:hover {
    background-color: #192734
}

.btn {
    background: #1ea1f2;
    font-size: calc(10px + 1vmin);
    color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    margin: 4px 2px;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #1884c7;
}

.textArea {
    font-family: inherit;
    background-color: #15202b;
    width: 70%;
    height: 100px;
    font-weight: bold;
    font-size: calc(10px + 1vmin);
    color: #ffffff;
    border-width: 2px;
    border: none;
    /*border-color: #323e47;*/
    outline: none;
    margin: 20px;
    padding: 10px;
    resize: none;
}

.textfield {
    font-family: inherit;
    background-color: white;
    width: 40%;
    height: 20%;
    font-size: calc(15px);
    color: black;
    border-width: 2px;
    border: none;
    outline: none;
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
}

.sidenav {
    flex: 30%;
    height: 100%;
    text-align: left;
    padding-left: 20px;
}

.sidenav a {
    padding: 50px 12px 12px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    display: block;
}

.sidenav a:hover {
    color: #1ea1f2;
}