.App {
  text-align: center;
  background-color: #15202b;
}

.App-body {
  background-color: #15202b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  padding-right: 10%;
  padding-left: 20%;
  border-color: #323e47;
  border-width: 5px;
}

.App-link {
  color: #1ea1f2;
}

.my-Title{
  font-size: calc(10px + 5vmin);
  font-weight: bold;
}

.btn{
  background: #1ea1f2;
  font-size: calc(10px + 1vmin);
  color: #ffffff;
  border-radius: 50px;
  padding: 5px;
  margin: 4px 2px;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  font-weight: bold;

}

.btn:hover{
  background-color: #1884c7;
}

.textfield{
  background-color: #15202b;
  width: 70%;
  height: 100px;
  font-weight: bold;
  font-size: calc(10px + 1vmin);
  color: #ffffff;
  border-width: 2px;
  border: solid;
  border-color: #323e47;
  outline: none;
  margin: 20px;
  padding: 10px;
}

.sidenav {
  left: 0;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  background-color: #15202b; 
  overflow-x: hidden; /* Disable horizontal scroll */
  top: 20%;
  padding-right: 20px;
  text-align: left;
 
}
.sidenav a {
  padding: 50px 12px 12px 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #1ea1f2;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
